@media screen and (max-width: 1350px) {
    .sticky-navBar a {
        font-size: 15px;
    }
}

@media screen and (max-width: 1170px) {
    #dragon {
       display: none;
    }
    .extra-space {
        display: block;
    }

    .sticky-navBar {
        display: none;
    }

    .indexContent {
        margin: 100px 0 10vw 0;
    }

    .navBtn-container {
        display: none;
    }

    .hamburgerMenu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .credText {
        width: 45vw;
        font-size: 40px;
    }

    #credits-left {
        width: 10vw;
        margin-left: 15vw;
    }

    #credits-right {
        width: 10vw;
        margin-right: 15vw;
    }

    .segment {
        flex-direction: column;
    }

    .imgContent {
        height: 70vh;
        width: auto;
    }

    .imgContentContainer {
        align-items: center;
        margin: 20px 0 0 0;
    }

    .content {
        margin: 100px 30px 30px 30px;
    }
}

@media screen and (max-width: 950px) {
    .quiztext {
        font-size: 45px;
        font-weight: bold;
    }
    .quizquestion {
        font-size: 40px;
    }
}


@media screen and (max-width: 800px) {

    .credText {
        width: 48vw;
        font-size: 20px;
    }

    #credits-left {
        width: 12vw;
        margin-left: 9vw;
    }

    #credits-right {
        width: 12vw;
        margin-right: 9vw;
    }
    .content {
        margin: 100px 30px 30px 30px;
    }

    .title {
        font-size: 30px;
    }

    .imgContent {
        height: 40vh;
        width: auto;
    }
}

@media screen and (max-width: 750px) {
    .footerTitles {
        font-size: 20px;
    }
    #startBtn {
        font-size: 35px;
    }
    #background-image-st-bt {
        background-size: auto 50px;
    }
    #startBtn:hover #background-image-st-bt {
        background-size: auto 75px;
    }
    .intro-chi {
        width: 150px;
    }
    .text-font {
        font-size: 5vw;
    }
    .imgContent {
        height: 37vh;
        width: auto;
    }

    main {
        min-height: 70vh;
    }
}

@media screen and (max-width: 430px) {
    .imgContent {
        height: 30vh;
        width: auto;
    }
}